@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap');

body {
    background-color: #1c3756;
    font-family: "Fira code", sans-serif;

}
main {
    background-color: #ffffffee;
    width: 70%;
    margin: 50px auto;
    padding: 15px;
    border-radius: 1em;
    box-shadow: 0 0 1em #00000015;
    transition: box-shadow .5s ease-in-out;
}
main:hover{
    box-shadow: 0 0 1em #0000003d;
}

ul {
    display: flex;
    align-items: center;
    list-style-type: none;
    justify-content: space-around;
}

li {
    display: inline-block;
}

a {
    transition: color .2s linear, border .2s linear;
    text-decoration: none;
    border-bottom: 1px dotted;
    color: #3872b4;
}

a:hover{
    border-bottom-color: transparent;
}

p {
    text-indent: 1em;
}

.icon {
    width: 25px;
    margin-right: 5px;
}

.textfield {
    border: none;
    background-color: #fff;
    border-bottom: 2px solid #ccc;
    padding: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    
}
.btn {
    border: none;
    color: #fff;
    background-color: #93ca39;
    padding: 10px;
    border-radius: 5px;
    transition: background-color .3s ease-in-out;
    
}
.btn:hover{
    background-color: #679d11;
    cursor: pointer;
}

.table{
    width: 100%;
    text-align: left;
    margin: 0 0 2em 0;
    border-collapse: collapse;
}
.table td{
    padding: 0.75em;
}
.table th{
    background: #e5e5e530;
    padding: 0.75em;
}
.table tbody tr:nth-child(even) td{
    background-color: #57575744;
}
.table tbody tr:first-child td{
    border-top: 2px solid #c8c8c8;
}
.table tbody tr:last-child td{
    border-bottom: 2px solid #c8c8c8;
}