@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap");

body {
    margin: 0;
    padding: 0;
    font-family: "Source Serif 4", serif;
}

header, footer {
    padding: 20px;
    color: #fff;
    text-align: center;
    background-color: #4d4d4d;
}

main {
    display: flex;
    justify-content: space-around;
}

article {
    margin: 20px;
    padding: 20px;
    background-color: #f7f7f7;
}   

nav {
    width: 25%;
    padding: 10px;
    background-color: #dbdbdb;
}

ul {
    list-style: none;
}

a {
    color: #000;
    line-height: 1.5;
}

.timeline h2 {
    color: #fff;
    padding: 20px;
    background-color: #333333;
}

.timeline {
    background-color: #fff;
}

.postInfo {
    text-align: right;
    text-justify: inter-word;
}